{% extends 'base.html' %}
{% load static %}
{% block content %}
	<center>
		<form action="" method="POST">
			{% csrf_token %}
			<input type="text" name="first_name" placeholder="Enter your firstname"><br>
			<input type="text" name="last_name" placeholder="Enter your lasttname"><br>
			<input type="text" name="username" placeholder="Enter your username"><br>
			<input type="email" name="email" placeholder="Enter your email"><br>
			<input type="password" name="password1" placeholder="Enter your password"><br>
			<input type="password" name="password2" placeholder="Confirm password"><br>
			<input type="submit">
 </form>
 
	</center>

{% endblock %}